stages:
  - build
  - test

variables:
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx1024m"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .gradle/wrapper
    - .gradle/caches

.default-gradle:
  image: gradle:8.5-jdk21
  before_script:
    - chmod +x gradlew
    - ./gradlew -v

build:
  stage: build
  extends: .default-gradle
  script:
    - ./gradlew clean build -x test --no-daemon --stacktrace
  artifacts:
    when: always
    paths:
      - build/libs/
      - build/reports/
    expire_in: 1 week

test:
  stage: test
  extends: .default-gradle
  needs: ["build"]
  script: |
    set -e
    if find . -type d -path "*/src/test*" | grep -q . && find . -type f -path "*/src/test*/*" | grep -q .; then
      ./gradlew test --no-daemon --stacktrace
    else
      echo "No tests found. Skipping 'gradlew test'."
    fi
  artifacts:
    when: always
    paths:
      - build/test-results/test/
      - build/reports/tests/test/
    reports:
      junit: build/test-results/test/**/TEST-*.xml